.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 50px;
    min-width: 400px;
}

form>* {
    margin: 5px;
}
form>input{
    height: 40px;
}

input {
    width: 100%;
}
button{
    height: 35px;
}